* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #6dcff6;
  --pink: #f49ac0;
  --purple: #8781bd;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(120deg, #ffffff, #e9e8e9);
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

header {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  color: var(--purple);
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 3rem;
  border: none;
  background: #fff;
}

form button {
  color: var(--pink);
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: -.5rem;
}

form button:hover {
  background: var(--pink);
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30rem;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
  overflow-wrap: anywhere;
}

.trash-btn,
.complete-btn {
  background-color: var(--pink);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background-color: var(--blue);
}

.todo-item {
  padding: 0 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  height: 100%;
}

select {
  color: var(--pink);
  width: 10rem;
  height: 100%;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: var(--pink);
  top: 0;
  right: 0;
  padding: 1.25rem 1rem;
  pointer-events: none;
  transition: 0.5s all ease;
}

.select:hover::after {
  background: #fff;
  color: var(--pink);
}





@media only scrren and (min-width: 900px) {
  .container {
    max-width: 60vw;
  }

  .todo-list {
    max-width: 10rem;
    min-width: 0;
  }
}

@media only screen and (max-width: 900px) {
  .select {
    max-width: 300px;
  }
}

@media only screen and (max-width: 900px) {
  form {
    flex-direction: column;
    margin: 5rem 0;
  }

  .logo {
    width: 80%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .inputs{
    display: flex;
    flex-direction: column;
  }
}